// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$color: (faded: #000000, main: #000000, dark: #000000);

$maroon: #5D262D;
$white: #f2f1ed;
$gray: #f9f9f7;
$black: #2D2C2B;

$green-dark: #205439;
$green-light: #7e9042;
$green-fade: #aed79f;

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (twitter: #78cdf0, facebook: #537bbd, instagram: #517fa4, youtube: #d34836, snapchat: #fffc00, pinterest: #cb2027, google: #dd4b39);