.bg--black {
    background-color: $base-font-color;
}

.bg--gray {
    background-color: $gray;
}

.bg--white {
    background-color: $white;
}

.bg--true-white {
    background-color: white;
}

.bg--green-dark {
    background-color: $green-dark;
}

.bg--green-light {
    background-color: $green-light;
}

.bg--green-fade {
    background-color: $green-fade;
}