.color--white {
    color: white;
}

.color--black {
    color: $black;
}

.color--green-dark {
    color: $green-dark;
}

.color--green-light {
    color: $green-light;
}

.color--green-fade {
    color: $green-fade;
}