.icon-logo-footer {
    display: block;

    @include media($max-smd) {
        max-width: 300px;
    }
}

.icon-lodi-logo {
    display: block;
    max-width: 200px;

    @include media($screen-md) {
        max-width: 50%;
    }


    margin: 0 auto;
}

a {
    i {
        transition: fill 0.2s $base-animation;
    }

    &:hover, &:focus {
        i {
            path {
                transition: fill 0.2s $base-animation;
                fill: $green-fade;
            }
        }
    }
}