<picture>
	<source type="image/jpeg"
	data-srcset="app/img/header-mobile-320.jpg 320w, app/img/header-mobile-640.jpg 640w, app/img/header-mobile-750.jpg 750w, app/img/header-mobile-8.jpg 828w, app/img/header-mobile-11-pro.jpg 1125w"
	sizes="100vw">
	<img class="block large lazy grid--one min--smd-hide"  alt="A brand-element image of cross-hatched fields with iconography of a wine bottle, glass of wine, and grape vines." src="app/img/header-mobile-320.jpg" data-src="app/img/header-mobile-750.jpg" itemprop="image">
</picture>