<div class="flex flex--wrap justify--between">
	<div class="font--tiny grid--mdl-three-fourths">
		ZinFest Wine Festival c/o California Wine Education Foundation <br class="hidden--mob">
		2545 W. Turner Rd., Lodi, CA 95242 | 209.365.0621
		<br>
		Contact: <a href="mailto:sherri@lodiwine.com" class="color--black">Sherri Cascaden</a>
	</div>
	<div class="block--social grid--mdl-fourth text--right">
		<a href="https://www.facebook.com/LodiWine/" target="_blank" class="" title="Follow us on facebook"><i class="icon-social--facebook" data-grunticon-embed></i></a>
		<a href="https://www.instagram.com/lodi_wine/" target="_blank" class="" title="Follow us on Instagram"><i class="icon-social--instagram" data-grunticon-embed></i></a>

		<a href="https://twitter.com/lodi_wine" target="_blank" class="" title="Follow us on Twitter"><i class="icon-social--twitter" data-grunticon-embed></i></a>
	</div>
</div>