<div class="flex flex--wrap justify--between">
	<div class="font--tiny grid--mdl-three-fourths">
		ZinFest Wine Festival c/o California Wine Education Foundation<br>
		2545 W. Turner Rd., Lodi, CA 95242 | 209.365.0621
	</div>
	<div class="block--social grid--mdl-fourth text--right">
		<a href="" target="_blank" class="" title=""><i class="icon-social--facebook" data-grunticon-embed></i></a>
		<a href="" target="_blank" class="" title=""><i class="icon-social--twitter" data-grunticon-embed></i></a>
		<a href="" target="_blank" class="" title=""><i class="icon-social--instagram" data-grunticon-embed></i></a>
	</div>
</div>