<section class="section--home-dates spacing--gutter spacing--section bg--white">
	<div class="flex flex--wrap justify--between align--items-center max-wrap margin--center text--center margin--bot-3 margin--dsk-bot-6">
		{% for event in page.events %}
			<div class="grid--one grid--xsm-three-fifths margin--center grid--smd-two-fifths  {% if loop.last %}{% else %}margin--bot-2{% endif %}">
				<h3 class="h2 color--green-light text--uppercase letter-- margin--top-0 animateonce slideupfade">{{event.title}}</h3>
				<p class="font--one animateonce slideupfade margin--bot-0">
					{{event.content}}
				</p>
			</div>
		{% endfor %}
	</div>
	<a href="{{site.tickets.url}}" title="{{site.tickets.title}}" target="_blank" class="button center inline-block bg--green-dark color--white text--uppercase font--sans font--black animateonce slideupfade delay">{{site.tickets.title}}</a>
</section>