<section class="section--home-header flex flex--wrap justify--around align--items-stretch bg--white">
	<div class="block--image grid--one grid--smd-two-fifths grid--lg-half nog bg--black" style="background-image: url('app/img/bg.jpg');">
		{% include block--mobile-header.html %}
	</div>
	<div class="block--content grid--one grid--xsm-three-fifths grid--smd-three-fifths grid--lg-half nog spacing--dsk-horiz-6 spacing--gutter-med">
		{% include block--header-links.html %}
		<i class="icon-logo animateonce" data-grunticon-embed></i>
	</div>
</section>