<section class="section--home-signup">
	<img class="piece--icon first block lazy"  alt="A textured image with a handful of brand elements, stricly decorative" src="app/img/icon-01-thumb.jpg" data-src="app/img/icon-01.png" itemprop="image">
	<picture>
		<source type="image/jpeg" data-srcset="app/img/tent-image-320.jpg 320w, app/img/tent-image-640.jpg 640w, app/img/tent-image-750.jpg 750w, app/img/tent-image-8.jpg 828w, app/img/tent-image-11-pro.jpg 1125w, app/img/tent-image-1280.jpg 1280w, app/img/tent-image-1440.jpg 1440w, app/img/tent-image-2560.jpg 2560w, app/img/tent-image-2880.jpg 2880w" sizes="100vw">
		<img class="block large lazy grid--one"  alt="An image of large outdoor tents, people are mingling and holding glasses of wine" src="app/img/tent-image-load.jpg" data-src="app/img/tent-image-1280.jpg" itemprop="image">
	</picture>
	<img class="piece--icon second block lazy"  alt="A textured image with a handful of brand elements, stricly decorative" src="app/img/icon-02-thumb.jpg" data-src="app/img/icon-02.png" itemprop="image">
</section>
<section class="section--home-signup max-wrap margin--center spacing--gutter spacing--section">
	{% include email.html %}
</section>