.section--home {
    h1 {
        font-size: 3.2rem;
        line-height: 1.1;
        width: 100%;
        font-weight: 300;

        .h3 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.1rem;
            letter-spacing: 1.2px;
            margin-bottom: 1rem;
        }
    }

    min-height: 100vh;

    @include media($screen-mdl) {
        min-height: 100vh;
    }


    .block--image {
        @include media($max-mdl) {
            height: 300px;
            overflow: hidden;
        }


        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .block--social {
        a {
            color: $maroon;

            i {
                color: $maroon;
            }
        }
    }
}