---
layout: default
---
<section class="section--home flex flex--wrap justify--around align--items-stretch bg--white">
	<div class="block--image grid--one grid--mdl-two-fifths grid--lg-half nog bg--black" style="background-image: url('app/img/bg.jpg');">
		<!-- <img src="/" class="block" alt=""> -->
	</div>
	<div class="grid--one grid--mdl-three-fifths grid--lg-half nog spacing--dsk-horiz-5 spacing--dsk-vert-3 mdl--flex flex--wrap flex--column justify--between spacing--gutter-mob">
		<div>
			<h1 class="margin--top-2 margin--dsk-top-6">Row x Row</h1>
			<div class="grid--lg-three-fourths color--black">
				<p>Formally known as Zinfest, the Lodi Row x Row Festival is an invitation for visitors to experience the incredible results of this collective labor—world-class wines alongside unmatched hospitality.</p>
			</div>
			{% include email.html %}
		</div>
		{% include contact.html %}
	</div>
</section>