---
layout: default
---
<section class="section--home flex flex--wrap justify--around align--items-stretch bg--white">
	<div class="block--image grid--one grid--mdl-two-fifths grid--lg-half nog bg--black" style="background-image: url('app/img/bg.jpg');">
		<!-- <img src="/" class="block" alt=""> -->
	</div>
	<div class="block--content grid--one grid--mdl-three-fifths grid--lg-half nog spacing--dsk-horiz-5 spacing--vert-3 spacing--dsk-vert-2 mdl--flex flex--wrap flex--column justify--between spacing--gutter-mob">
		<div>
			<h1 class="margin--top-0 margin--dsk-top-6 margin--bot-0">ZinFest 2020</h1>
		<h3 class="margin--top-1 margin--bot-2 text--uppercase font--standard">May 15-17 <span class="bul">•</span> Lodi Lake, CA</h3>
			<div class="grid--one grid--lg-three-fourths color--black margin--top-1">
				<p>Mark your calendars! We invite you to an iconic weekend of world-class wines and the friendly faces behind the craft. 2020 is a milestone year for our beloved event with some incredibly exciting announcements coming soon</p>
				<p>Stay tuned by signing up below - you don’t want to miss this news!<br><strong>Tickets go on sale March 2<sup>nd</sup>.</strong></p>
			
			</div>
			
			{% include email.html %}
		</div>
		{% include contact.html %}
	</div>
</section>